@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://gearui.netlify.app/library.css");
@import url("./shared/header.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 87.5%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.btn__add--cart {
  border: 1px solid var(--gray);
  background-color: var(--gray);
  color: var(--white);
}

.badge__count {
  background-color: var(--danger);
  color: var(--white);
}

.banner__container {
  width: 85%;
  margin: 1rem auto;
}
.banner__container > div {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.banner {
  display: inline-block;
  position: relative;
  width: 14rem;
  background-color: var(--o-gray);
  padding: 0.3rem;
  margin: 1.5rem;
}
.banner__text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  color: var(--white);
  background-color: var(--s-danger);
  width: 100%;
  text-align: center;
  padding: 0.35rem;
}
.banner .card__image {
  height: 12rem;
}
.hero__section {
  width: 90%;
  margin: 1rem auto;
}
.hero__section .img {
  height: 40rem;
  object-fit: fill;
}
.promotion__container {
  width: 95%;
  margin: auto;
}
.promo {
  background-color: var(--o-white);
  color: var(--primary);
  width: 50%;
  cursor: pointer;
}
.promo_content {
  padding: 3rem;
}

@media screen and (min-width: 64rem) {
  html {
    font-size: 100%;
  }
}
