.login__container {
  width: 30rem;
  margin: 15% auto;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 4rem;
}
.login__label {
  padding: 0.8rem 0;
  text-align: center;
}
.confirmation {
  padding-left: 0.5rem;
}
.login__form .btn {
  width: 100%;
}
